<header class="header">
  <nav class="nav">
    <ul class="links">
      <li ><a class="link" href="/">Home</a></li>
      <li ><a class="link" href="/users">Users</a></li>
    </ul>
  </nav>
</header>
