<header class="header">
  <a class="logo" href="/" alt="Ummy logo"></a>
  <nav class="nav">
    <ul class="links">
      <li><a class="link" href="/">Home</a></li>
      <li><a class="link" href="/users">Users</a></li>
      <li><a class="link login" href="/login">Login</a></li>
    </ul>
  </nav>
</header>
