<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/users">Users</a></li>
        </ul>
      </nav>
    </header>
    <main><h1 class="title">Home Page</h1></main>
  </body>
</html>
