<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Users</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/users">Users</a></li>
        </ul>
      </nav>
    </header>
    <main><h1 class="title">Users</h1></main>
    <ol>
      <li>User #1</li>
      <li>User #2</li>
      <li>User #3</li>
      <li>User #4</li>
      <li>User #5</li>
      <li>User #6</li>
    </ol>
  </body>
</html>
