:root {
  --rem: 16px;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: aqua;
}

.nav {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.link {
}

.title {
  font-size: 2rem;
}
