:root {
  --rem: 16px;
  --horizontal-padding: 2rem;
  --header-bg-color: #7cf5ff;
  --body-bg-color: #4f75ff;
  --logo-width: 6rem;
  --logo-height-scale-value: 1.5384615385;
  --logo-navbar-gap: 3rem;
}

html {
  background-color: var(--header-bg-color);
}

body {
  background-color: var(--body-bg-color);
  min-height: 100vh;
}

*:focus,
*:focus-visible {
  outline: thick double red;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px var(--horizontal-padding);
  background-color: var(--header-bg-color);
  gap: var(--logo-navbar-gap);
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  width: var(--logo-width);
  background-image: url(/assets/logo.svg);
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: calc(var(--logo-width) / var(--logo-height-scale-value));
}

.logo:focus,
.logo:focus-visible {
  outline: thick double red;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.link {
  display: block;
  padding: 0.25rem;
  border: 0.1rem black solid;
}

.link:focus,
.link:focus-visible {
  outline: thick double red;
}

.link.active {
  color: red;
  background-color: yellow;
}

.title {
  font-size: 2rem;
}

main {
  padding: 0
    calc(var(--horizontal-padding) + var(--logo-width) + var(--logo-navbar-gap));
}
