/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/* Ensure vertical rhythm */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: all;
  line-height: inherit;
}
/* Remove the outline on focused links when they are also active or hovered */
a:focus,
a:active,
a:hover {
  outline: 0;
}
/* Provide a normalized baseline for form controls */
button,
input,
select,
textarea {
  margin: 0;
}
button {
  overflow: visible; /* to prevent overflow artifacts in IE */
}

/* Define consistent user interface appearance */
button,
select {
  text-transform: none; /* Prevent text-transform inheritance in Firefox */
}

/* Replace pointer cursor in disabled elements */
[disabled],
button[disabled],
input[disabled] {
  cursor: default;
}
/* Remove inner padding and border in Firefox's form elements */
input[type="search"] {
  -webkit-appearance: textfield; /* Make it consistent with other input types */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
